.searchbar {
  width: 297px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: red 5px solid;
  display: flex;

  /* flex-direction: row; */
  /* justify-content: space-between;
  align-items: flex-shrink; */
  /* padding: 19px 16px 18px 16px; */
}

.inputBar {
  height: 100%;
  border-right: 3px solid green;
  /* border: 2px solid purple; */
}

.iconSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  border: 2px solid purple;
  /* margin: 19px 19px 18px 19px; */
}

.fasearch {
  color: #eb5757;
}
