.App {
  width: 1440px;
  height: 1090px;
  background: #ffffff;
  border-radius: 12px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 94px;
  margin-right: 96px;
}
